*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial,Helvetica,sans-serif;
background:#f4f6f9;
color:#333;
}

header{
background:#1565C0;
padding:20px;
position:sticky;
top:0;
z-index:999;
box-shadow:0 3px 10px rgba(0,0,0,.2);
}

.logo{
font-size:30px;
font-weight:bold;
color:#fff;
text-align:center;
margin-bottom:15px;
}

#search{
width:100%;
max-width:600px;
display:block;
margin:auto;
padding:14px;
font-size:16px;
border:none;
border-radius:10px;
outline:none;
}

.container{
max-width:1200px;
margin:30px auto;
display:grid;
grid-template-columns:repeat(auto-fill,minmax(260px,1fr));
gap:25px;
padding:20px;
}

.card{
background:#fff;
border-radius:15px;
padding:20px;
box-shadow:0 5px 15px rgba(0,0,0,.12);
transition:.3s;
text-align:center;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 15px 30px rgba(0,0,0,.18);
}

.cover{
font-size:70px;
margin-bottom:15px;
}

.card h2{
font-size:22px;
margin-bottom:8px;
}

.card p{
color:#777;
margin-bottom:18px;
}

.btn{
display:inline-block;
background:#1565C0;
color:#fff;
text-decoration:none;
padding:12px 20px;
border-radius:8px;
font-weight:bold;
transition:.3s;
}

.btn:hover{
background:#0D47A1;
}

footer{
margin-top:40px;
padding:25px;
text-align:center;
background:#1565C0;
color:white;
}

@media(max-width:600px){

.logo{
font-size:24px;
}

.cover{
font-size:55px;
}

.card{
padding:15px;
}

}
